/*Starter comment for this new CSS file*/
header { /*Moves title with scroll*/
    position: fixed;
    width: 500px;
    height: 100px;
    background-color: grey;
}
h2 { /*Formats entry days*/
    color: rgba(0, 26, 110, 0.9);
    text-align: center;
    text-decoration: underline dotted;
}
h3 { /*Formats sub headings*/
    color: #5900ff;
    position: static;
}
strong { /*Formats strong elements*/
    color: hsla(0, 100%, 50%, 0.6);
    display: inline-block;
}
body { /*Adds background color below 1000px*/
    background-color: lightcoral;
}
@media only screen and (min-width: 1000px) {  /*Adds background color above 1000px*/
    body {
      background-color: lightblue;
    }
}
nav { /*Cool box around nav*/
    padding: 40Q;
    border-style: solid;
    border-color: black;
    border-width: 7pt;
    border-radius: 500px;
    min-width: 1000px;
    max-width: 1200px;
}
footer { /*Even cooler box around footer*/
    margin-top: 2em;
    margin-bottom: 7ch;
    margin-left: 4vh;
    margin-right: 1vmax;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-style: dashed;
    border-color: silver;
    border-width: 7pt;
    border-radius: 500px;
}
form { /*Auto margin for form*/
    margin: auto;
    border-style: solid;
    border-color: black;
}
em { /*Formats em elements*/
    display: inline;
}
button:hover { /*Changes font and color when hovered over*/
    color: blue;
    font-family: 'Zen Dots', cursive;
    src: url(https://fonts.gstatic.com)
}
a:active { /*Changes color when clicked*/
    color: magenta;
}

.flex { /*Set up flexbox*/
    display: flex;
    height: 5000px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex > div { /*Set up flexbox items*/
    background-color: wheat;
    padding: 15px;
    margin: 10px;
    width: 1300px;
    flex-grow: 3;
    flex-basis: auto;
    flex-shrink: 2;
}

.grid { /*Set up grid*/
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: stretch;
    align-items: center;
}
.grid > div { /*Set up grid items*/
    background-color: wheat;
    padding: 15px;
    margin: 10px;
}
.item-date, .item-button { /*First row*/
    grid-row: 1/2;
}
.item-overall, .item-summary, .item-highlight { /*Second row*/
    grid-row: 2/3;
}
.item-media, .item-classes, .item-tags { /*Third row*/
    grid-row: 3/4;
}
.item-date, .item-overall, .item-media { /*First column*/
    grid-column: 1/2;
}
.item-summary, .item-classes { /*Second column*/
    grid-column: 2/3;
}
.item-button, .item-highlight, .item-tags { /*Third column*/
    grid-column: 3/4;
}